@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* === CORES PRINCIPAIS DO TEMA === */

  --cor-primaria: #542673; /* azul principal (header, botões) */
  --cor-secundaria: #542673; /* azul mais forte (hover, destaques) */
  --cor-terciaria: #9e50bf; /* azul intermediário (cards, seções) */

  --cor-fundo: #e899f2; /* fundo geral da página */
  --cor-clara: #f1bbf2; /* detalhes suaves, gradientes */

  /* === CORES DE TEXTO === */

  --texto-branco: #ffffff;
  --texto-escuro: #1a1a1a;

  /* === SOMBRA PADRÃO === */

  --sombra-suave: 0 4px 12px rgba(0, 0, 0, 0.15);
}

body {

  background-color: var(--cor-clara);
}

header {
  position: fixed; /* === HEADER FIXO === */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--cor-terciaria);
}

.cabeçalho {
  text-align: center; /* === POSICIONAMENTO === */
  padding: 10px;
}

.cabeçalho h1 {
  font-size: 2.9em;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px 1px #d40ad4;
}

nav {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 10px 0;
}

nav a {
  padding: 8px 30px;
  font-size: 15px;
}

a {
  background-color: var(--cor-secundaria);
  font-size: 0.8em;
  padding: 6px;
  border-radius: 20px;
  color: var(--cor-clara);
}

a:hover {
  transition: 0.3s;
  transform: scale(1.08);
  box-shadow: 0px 0px 4px 2px var(--cor-clara);
}

main {
  padding: 0 10px;
  padding-top: 7em;
  background-color: var(--cor-clara);
}

.hero {
  background-color: white;
  padding: 20px;
}

.hero h1 {
  text-align: center;
  font-size: 35px;
}

.hero p {
  margin: 10px 0;
}

.hero-botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.projetos {
  text-align: center;
  overflow: hidden;
}

.projetos h2 {
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: var(--cor-secundaria);
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

.projetos h3 {
  font-size: 34px;
  text-align: center;
  padding: 10px;
  color: white;
  margin: 20px;
  background: radial-gradient(circle, #d40ad4, rgb(109, 4, 109));
  border-radius: 30px;
}

.projetos p {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: var(--texto-branco);
  margin: 30px;
}

.projetos img {
  width: 340px;
  border-radius: 30px;
}

.projeto-card {
  background-color: var(--cor-terciaria);
  padding: 20px 0;
  margin: 15px 0;
  border-radius: 10px;
}

h3:hover {
  box-shadow: 0px 0px 5px 6px #df96df;
}

.skill {
  margin-top: 18px;
}

.skills h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
}

.skill p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
}

.barra {
  width: 100%;
  height: 10px;
  background: #1e293b;
  border-radius: 999px;
  overflow: hidden;
}

.preenchido {
  height: 100%;
  background: #3b82f6;
  border-radius: 999px;
}

.sobre {
  background-color: var(--texto-branco);
}

.sobre h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
}

.sobre-pontos {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.2em;
}
.sobre-pontos li {
  margin: 10px 0;
}


.sobre p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 20px;
  text-indent: 20px;
}

@media screen and (min-width: 999px) {
  .projetos-grid {
    display: flex;
    gap: 10px;
  }
  .projeto-card {
    background-color: var(--cor-terciaria);
    border-radius: 30px;
  }

  .projetos img {
    border: 2px solid var(--cor-secundaria);
  }
}



::placeholder {
    font-size: 10px;
}

input:focus , textarea:focus {
  outline: none;
}

.contato h2 {
    text-align: center;
  font-size: 35px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.contato form {
  max-width: 400px;
  margin: auto;
}

.contato form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contato label {
  margin-bottom: 5px;
}


.contato input,
.contato textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #999;
}

button {
  color: white; 
  background-color: rgba(128, 128, 128, 0.534);
  padding: 4px;
  font-size: 10px;
  border-radius: 6px;
 
}

.botao {
  display: block;
  text-align: center;
}

.redes  {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  
}


footer {
  color: var(--texto-branco);
  text-align: center;
  background-color: var(--cor-secundaria);
  width: 100%;
}